@import 'lxgw-wenkai-lite-webfont/style.css';
body{
    font-family: "LXGW WenKai Lite", sans-serif;
}

/* @font-face {
    font-family: 'LXGW WenKai GB';
    src: url('hinted-LxgwWenKaiGB-Regular.woff') format('woff2'),
        url('hinted-LxgwWenKaiGB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */
.span-style {
    font-family: LXGW WenKai Lite;
    font-size: large;
    height: min-content;
}
.mobile-warning-span-style{
    font-family: LXGW WenKai Lite;
    font-size: medium;
    height: min-content;
    /* color: red;
    font-weight: bold; */
}
.info-span-style{
    font-family: LXGW WenKai Lite;
    font-size: small;
    height: min-content;
}
.backgroundImage-style-light {
    background-image: url('https://cdn.luogu.com.cn/upload/image_hosting/cnus91gi.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}
.backgroundImage-style-dark {
    background-image: url('https://cdn.luogu.com.cn/upload/image_hosting/tc5zcgpw.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}